@import '../../../colors.scss';
.cart__container {
    width: 100%;
    .cart__btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        width: 100%;
        button {
            outline: none;
            border: none;
            border-radius: 5rem;
            width: 75%;
            color: black;
            padding: 1rem;
            background-color: $green;
            font-weight: 700;
            transition: .5s;
        }
        button:hover {
            background-color: $dark-green;
        }
        button:nth-child(2) {
            background-color: rgb(255, 88, 88);
        }
        button:nth-child(2):hover {
            background-color: rgb(231, 2, 2);
        }
    }
}

.Empty__cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    span {
        font-size: 10rem;
        padding-bottom: 1.5rem;
    }
    p {
        border-top: 2px solid white;
        font-size: 1.7rem;
        padding-top: 1.5rem;
    }
}