@import '../../../colors.scss';

.UpdateUser {
    background-color: $light;
    width: 70%;
    border-radius: 2rem;
    padding-top: 25px;
    box-shadow: 0 8px 16px 0 rgba(183, 27, 27, 0.9);
}
.button-update {
    border-radius: 2rem;
}