@import '../../../colors.scss';
.form__container {
    width: 100%;
}

.ant-col-8 {
    display: block;
    flex: 0 0 33.33333333%;
    max-width: 11rem;
}

.ant-form-horizontal .ant-form-item-control {
    flex: 1;
}

.ant-col-offset-8 {
    margin: 0 auto;
}

.ant-btn-primary {
    background-color: $dark-blue;
    width: 100%;
}

.ant-btn-primary:hover {
    background-color: $mid-blue
}

.form__title {
    display: block;
    text-align: center;
    font-size: 3rem;
}