@import '../../colors.scss';
@import '../../fonts.scss';
.Navbar__container {
    width: 100%;
    background-color: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    .Navbar {
        width: min(100rem, 92vw);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 0;
        .links {
            * {
                font-size: 3rem;
                color: $green;
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;
            .navigate {
                display: flex;
                height: min-content;
                align-items: center;
                justify-content: center;
                gap: 2rem;
                p {
                    margin: 0;
                }
                .user__icon {
                    overflow: hidden;
                    background-color: $green;
                    height: 3rem;
                    aspect-ratio: 1 / 1;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        color: black;
                    }
                }
            }
        }
        .Brand {
            color: $green;
            margin: 0;
            font-size: 3rem;
            font-weight: 700;
            font-family: $impact-font;
        }
    }
    .SubNavBar {
        background-color: $dark-blue;
        width: 100%;
        display: flex;
        padding: .5rem 2rem;
        gap: 1rem;
        width: min(100rem, 92vw);
        a {
            font-size: 1.7rem;
            color: $green;
        }
    }
}