@import '../../../../colors.scss';
.CartItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 2px solid $mid-blue;
    .cart__item--info {
        display: flex;
        flex-direction: column;
    }
    .cart__item--trash {
        font-size: 1.8rem;
        padding: 1rem;
        background-color: $dark-green;
        border-radius: 50%;
        transition: .5s;
    }
    .cart__item--trash:hover {
        background-color: $green;
    }
    * {
        margin: 0;
    }
    .amount__selector {
        display: flex;
        background-color: $mid-blue;
        width: min-content;
        padding: .3rem .6rem;
        gap: .6rem;
        border-radius: 2rem;
        align-items: center;
        box-shadow: inset 4px -9px 11px -8px #00000069;
        p {
            border-right: 1px solid $light;
            border-left: 1px solid $light;
            padding: 0 1rem;
        }
    }
}