@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@100;400&family=Staatliches&display=swap');
$standard-font: 'Roboto',
sans-serif;
$headers-font: 'Oswald',
sans-serif;
$impact-font: 'Staatliches',
cursive;